.App{
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

.jumbotron{
    border: 1px solid gray;
}

footer {
    margin-top: auto;
    position: fixed;
    bottom: 0;
    width: 100%;
}

